Django==2.2.18
django-excel==0.0.10
et-xmlfile==1.0.1
jdcal==1.4.1
lml==0.0.9
openpyxl==2.5.14
pyexcel==0.5.14
pyexcel-io==0.5.18
pyexcel-webio==0.1.4
pyexcel-xlsx==0.5.7
pytz==2019.1
sqlparse==0.3.0
texttable==1.6.2
